$maxmobile: "(max-width:767px)";
$minsmall: "(min-width : 768px)";
$maxsmall: "(max-width : 991px)";
$minmedium: "(min-width : 992px)";
$maxsmedium: "(max-width : 1199px)";
$minlarge: "(min-width : 1200px)";

$blueColor:#091141;
$greyColor:#9c9c9c;

$floatLeft:left;
$floatRight:right;
